body{
    max-width: 100 px;
    min-width: 300 px;
    background-color: #850E35;
    color: #FFF5E4;
    text-align: center;
}

button{
    color : #FFC4C4 ;
    padding : 8px 10px;
    border-radius: 6px;
    color: #EE6983;
    transition: all 0.2s ease;
}
button:active{
    transform: scale(0.96);
}
